---
layout: page
tagline: 这，是一个寂寞的世界……
index: 0
sitemap:
    priority: 1.0
    changefreq: 'daily'
    lastmod: 2017-09-10T04:15:30+08:00
---
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <div class="card">
	<div class="date_label">
		<div class="day_month">
			{{ post.date | date:"%m/%d" }}
		</div>
		<div class="year">
			{{ post.date | date:"%Y" }}
		</div>
	</div>
	{{ post.excerpt }}
	<div class="read_more">
		<a class="fa fa-link" href="{{ BASE_PATH }}{{ post.url }}" rel="bookmark">查看全文&hellip;</a>
	</div>
  </div>
{% endfor %}

{% if paginator.total_pages > 1 %}
  <!-- Pagination links -->
  <div class="pagination">
      <ul class="pull-right">
      {% if paginator.previous_page %}
        <li class="prev"><a class="fa fa-arrow-circle-left" href="{{ BASE_PATH }}{{ paginator.previous_page_path }}">上一页</a></li>
      {% else %}
        <li class="prev disabled"><a class="fa fa-arrow-circle-left">上一页</a></li>
      {% endif %}
        <li><a class="fa fa-th" href="{{ BASE_PATH }}{{ site.JB.archive_path }}">所有文档</a></li>
      {% if paginator.next_page %}
        <li class="next"><a class="fa fa-arrow-circle-right-after" href="{{ BASE_PATH }}{{ paginator.next_page_path }}">下一页</a></li>
      {% else %}
        <li class="next disabled"><a class="fa fa-arrow-circle-right-after">下一页</a>
      {% endif %}
      </ul>
  </div>
{% endif %}
