html, body{ 
	height: 100%; 
	margin: 0;
	padding: 0;
}
body{ 
	background: url("img/body_bg.png") repeat;
    background-color: #ECECEC;
	position: relative;    /* 重要！保证footer是相对于wapper位置绝对 */  
    height: auto;          /* 保证页面能撑开浏览器高度时显示正常 */  
    min-height: 100% ;     /* IE6不支持，IE6要单独配置 */ 
	/*overflow-y:scroll;*/
}
h1{
    font-family: Arial,"楷体";
}
a:hover {
	text-decoration: none;
}
.text-center {
    text-align: center;
}

.fa.fa-arrow-circle-right{
    margin-right: 15px;
}
 
/* navbar */
.navbar {
	margin-bottom: 0;
	/*position: relative;*/
}

.navbar-inner{ 
  background-color: #00a9a9;
  vertical-align: middle;
}

.nav-narrow{  
  margin: 0 auto;
  max-width: 900px;  
}

.navbar .brand {
    float: left;
    font-weight: bold;
}

.navbar .nav {  
	float: right; 
	margin: 0;
}

/* page container -- card style -- */
.container-narrow {
    margin: 0 auto;
	min-height: 100%;
	padding-top: 50px;
	padding-bottom: 120px; /*重要！给footer预留的空间*/  
}

.container-narrow > hr { 
  margin: 30px 0; 
}

.card { 
  max-width: 900px;
  background:#fff; 
 }
 
.card > hr { 
    margin: 0;
    border: 0;
    height: 40px;
}

.card p {
    text-indent: 2em;
}
 
@media (max-width:480px) {
    .container-narrow {
        margin: 0 auto;
        min-height: 100%;
        padding-top: 50px;
        padding-bottom: 90px; /*重要！给footer预留的空间*/  
    }
    
    .card > hr { 
        margin: 0;
        border: 0;
        height: 20px;
    }
}

.read_more {
  padding: 10px 0 20px;
  background-color: #fff;
}


/* posts */
.post > h3.title { 
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {  
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more { 
  margin: 10px 0;
  text-align: left; }

.post-full .date { 
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box { 
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li { 
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: rgb(222,106,115);
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
                 }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  color: rgb(222,106,115);
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }

.hat_title{
    padding: 30px 0 40px 0;
    font-size: 58px;
    font-weight: 100;
    font-family: "楷体";
}
.post_list{
    margin-left: 60px;
}
.page.card{
    background:url("img/card_bg.jpg") repeat top center;
}

/* pagination */
.pagination .left {
	width: 100px;
	float: left;
	text-align: left;
}

.pagination .middle {
	position: absolute;
	left: 100px;
	right: 100px;
	text-align: center;
	z-index: -1;
}

.pagination .right {
	width: 100px;
	float: right;
	text-align: right;
}

.pagination .previous {
	margin-left: 10px;
}

.pagination .next {
	margin-right: 10px;
}

/* about */
.about a {
    text-indent: 0em;
}

/* footer */
.footer {
	position: absolute;
    height: 70px;         /* footer的高度一定要是固定值*/  
	bottom: 0;
	margin-bottom: 0;
	width: 100%;
	color: #fff;
	background-color: #373f48;
	clear: both;
}

.footer .container{
   display:table;
   height:100%; 
}

.footer .row{
   display: table-cell;
   vertical-align: middle;
}
.copyright {
    font-size: 1em;
	margin: 0;
}

.copyright a {
    color: #fff;
}

.copyright a:hover {
    color: #00a9a9;
}

/* to-top */
.to-top { 
	display: none; 
	background-color: #777;
	color: #eee;
	font-size: 40px;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	overflow: hidden;
	width: 46px;
	height: 46px;
	border: none;
	opacity: .8;
}

