html, body{ 
	height: 100%; 
	margin: 0;
	padding: 0;
}
body{ 
	background: url("img/body_bg.png") repeat;
}
h1{
    font-family: Arial,"楷体";
}
a:hover {
	text-decoration: none;
}
.text-center {
    text-align: center;
}

.fa.fa-arrow-circle-right{
    margin-right: 15px;
}
 
/*navbar bgcolor -- float*/
.navbar {
	margin-bottom: 0;
	/*position: relative;*/
}

.navbar .navbar-inner{ 
  background-color: #00a9a9;
}

.navbar .brand {
	padding: 5px 0 3px;
	margin-left: 0;
}

.navbar .brand img {
	width: 38px;
	height: 38px;
}

.navbar .nav {  
	float: right; 
	margin: 0;
}

/*page container -- card style -- */
.nav-narrow{  
  margin: 0 auto;
  max-width: 900px;
}

.container-narrow {
    margin: 50px auto 0;
	min-height: 100%;
}

.card { 
  max-width: 900px;
  background:#fff; 
 }

.container-narrow > hr { 
  margin: 30px 0; 
}

.read_more {
  padding: 10px 0 20px;
  background-color: #fff;
}


/* posts index */

.post > h3.title { 
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {  
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more { 
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date { 
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box { 
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li { 
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: rgb(222,106,115);
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
                 }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }



.hat_title{
/*    margin: 50px 0 20px 0;*/
    padding: 30px 0 40px 0;
/*    background-color: rgb(229, 229, 229);*/
/*    color: rgb(0,173,207);*/
    font-size: 58px;
    font-weight: 100;
    font-family: "楷体";
}
.post_list{
    margin-left: 60px;
}
.page.card{
    background:url("img/card_bg.jpg") repeat top center;
}

/* pagination */
.pagination .left {
	width: 100px;
	float: left;
	text-align: left;
}

.pagination .middle {
	position: absolute;
	left: 100px;
	right: 100px;
	text-align: center;
	z-index: -1;
}

.pagination .right {
	width: 100px;
	float: right;
	text-align: right;
}

.pagination .previous {
	margin-left: 10px;
}

.pagination .next {
	margin-right: 10px;
}

/* footer */
.footer {
	position: relative;
	margin-top: 50px;
	bottom: 0;
	margin-bottom: 0;
	padding: 20px 0;
	width: 100%;
	color: #fff;
	background-color: #373f48;
	clear: both;
}

.copyright {
    font-size: 1em;
	margin: 0;
}

.copyright a {
    color: #fff;
}

.copyright a:hover {
    color: #00a9a9;
}

/* to-top */
.to-top { 
	display: none; 
	background-color: #777;
	color: #eee;
	font-size: 40px;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	overflow: hidden;
	width: 46px;
	height: 46px;
	border: none;
	opacity: .8;
}

