<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="{{ ASSET_PATH }}/css/font-awesome.min.css" rel="stylesheet">
	<link href="{{ ASSET_PATH }}/css/prettify.css" rel="stylesheet" type="text/css">
    <link href="{{ ASSET_PATH }}/css/style.css" rel="stylesheet" type="text/css" media="all">
	
    <!-- Le fav and touch icons -->
	<!-- Update these with your own images
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	-->
	<link rel="shortcut icon" href="{{ BASE_PATH }}/favicon.ico">
	<link rel="bookmark" href="{{ BASE_PATH }}/favicon.ico">

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
  
  </head>

  <body>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="nav-narrow">
                <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                <a class="btn btn-primary btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="{{ HOME_PATH }}"><span>{{ site.title }}</span></a>
                <div class="nav-collapse collapse"> 
                    <ul class="nav">
                        {% assign pages_list = site.pages %}
                        {% assign group = 'navigation' %}
                        {% include JB/pages_list %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-narrow">
      <div class="content">
        {{ content }}
      </div>
    </div>
      
	<div class="footer">
		<div class="container">
			<div class="row">
				<p class="copyright text-center">Copyright &copy; {{ 'now' | date: "%Y" }} <a href="{{ HOME_PATH }}">{{ site.author.name }}</a>. Powered by <a href="https://jekyllrb.com/" target="_blank" rel="nofollow noopener noreferrer">Jekyll</a>. Theme is <a href="http://enml.github.io/site/" target="_blank" rel="noopener noreferrer">nameless</a>.
				</p>
			</div>
		</div>
	</div>

	<a class="to-top"><i class="fa fa-angle-up"></i></a>

    {% include JB/analytics %}
	
	<script src="{{ ASSET_PATH }}/js/jquery-1.11.0.min.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap-collapse.js"></script>
	<script src="{{ ASSET_PATH }}/js/prettify.js"></script>
	<script src="{{ ASSET_PATH }}/js/jquery.toTop.min.js"></script>
	<script src="{{ ASSET_PATH }}/js/main.js"></script>
  </body>
</html>
